
body {
    background-color: #faecff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #402a3f;
    margin: 0; 
    padding: 0;
    font-size: 16px;
}

h1, p, h3 {
    margin-left: 15px;
    padding: 5px;
}

h3 {
    text-align: center;
}

h2 {
    margin-left: 15px;
    padding: 5px;
    padding-top: 1em;
}

form {
    margin-left: 15px;
}

input[type="text"] {
    margin-left: 5px;
}

.form-label {
    margin-left: 15px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

.review-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}


.form-group {
    display: flex;
    flex-direction: column;
}


.full-width {
    grid-column: span 2; /* makes the submit button long */
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

input[type="text"],
input[type="number"],
textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    padding: 10px 20px;
    background-color: rgb(84, 68, 97);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(48, 34, 59);
}

.center-link {
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #402a3f;
    text-decoration: none;
    border-radius: 5px;
}

.center-link:hover {
    background-color: #e0e0e0;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.container form {
    align-items: center; 
    gap: 10px;
}


